<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Video Section -->
  <%= partial 'partials/video' %>
  <!-- Contact Section -->
  <%= partial 'partials/contact' %>
</div>